@import "public/components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

$bg: #ECC013;

body {
    background-color: $bg;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

$nav-active-color: #9A1011;

.nav-tabs.header {
    z-index: 1000;
    background: $bg;
    position: absolute;
    top: 0px;
    width: 100%;

    > li {
        width: 33.3%;
        border-bottom: 1px solid $nav-active-color;

        > a {
            color: $gray-darker;
            background: transparent;
            width: 100%;
            text-align: center;

            &:hover {
                border-color: transparent;
            }
        }
    }

    > li.active > a {
        background: transparent;
        color: $nav-active-color;
        border-right:  none;
        border-left: none;
        border-top: none;
        border-bottom: 2px solid $nav-active-color;
    }
}

.photo-list-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 50px 5px 0px;
    overflow: auto;
}

.photo-list {
    .photo-item {
        $radius: 5px;
        width: 50%;
        display: inline-block;
        padding: 5px;

        .photo-item-inner {
            background: #fff;
            overflow: hidden;
            border-radius: $radius;

            .photo-wrapper  {
                height: 200px;
                box-shadow: inset 0px -5px 5px #fff;
                overflow: hidden;

                img {
                    border-top-left-radius: $radius;
                    border-top-right-radius: $radius;
                    width: 100%;
                }
            }
            
            .title {
                @include text-overflow();
                color: $nav-active-color;
                padding: 6px 12px;
            }

            .likes {
                .glyphicon {
                    vertical-align: text-top;
                }

                @include text-overflow();
                color: $gray-light;
                padding: 0px 12px 6px;
            }
        }
    }
}

.share-hide{
    display: none;
}

.bg{
    background-color: rgba(55, 0, 8, .6);
    width: 100%;
    height: 100%;
    text-align:center;
    position: absolute;
    z-index: 2010;

    img {
        width:85%;
    }
}

.photo-view {
    position: absolute;
    background: $bg;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2000;

    .photo-wrapper  {
        overflow: auto;
        @include square(100%);
        position: relative;

        img {
            position: absolute;
        }
    }

    .toolbar {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background: rgba(0, 0, 0, .6);
        height: 40px;

        div {
            float: left;
            width: 33.3%;
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            padding: 10px;

            &.share {
                text-align: right;
            }

            &.download {
                text-align: left;

                a {
                    color: #fff;
                }
            }

            &.heart {

                &.up {
                    color: $brand-danger;
                }

                text-align: center;
            }
        }
    }
}

.video-list-wrapper {
    overflow: auto;
    padding-top: 50px;
    height: 100%;

    .video-list {

        .video-item {
            $color: #9a1011;
            $border-color: $color;

            border-bottom: 1px solid $border-color;

            &:last-child {
                border: none;
            }

            .title {
                @include text-overflow();
                padding: 10px 20px 5px;
                color: $color;
            }

            .date {
                padding: 0px 20px 8px;
                color: $color;
                font-size: $font-size-small;
            }

            .cover-wrapper {
                background: #FFAD91;
                padding: 5px 20px;
                height: 160px;
                box-sizing: content-box;

                .cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                img {
                    display: block;
                    position: absolute;
                }
                
                .btn-play {
                    @include square(80px);
                    position: absolute;
                    display: block;
                    left: 50%;
                    top: 50%;
                    margin-left: -40px;
                    margin-top: -40px;
                    background: url(../img/btn-play.png) center center no-repeat transparent;
                    background-size: 100% 100%;
                }
            }

            .description {
                padding: 8px 20px 8px;
                color: darken($color, 10%);
            }
        }
    }
}

.news-list-wrapper {
    overflow: auto;
    padding-top: 50px;
    height: 100%;

    .news-list {

        .news-item {
            $color: #9a1011;
            $border-color: $color;

            border-bottom: 1px solid $border-color;

            &:last-child {
                border: none;
            }

            .title {
                @include text-overflow();
                padding: 10px 20px 5px;
                color: #bc0a0c;
            }

            .date {
                padding: 0px 20px 8px;
                color: #bc0a0c;
                font-size: $font-size-small;
            }

            .cover-wrapper {
                background: #FFAD91;
                height: 160px;
                box-sizing: content-box;

                .cover {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                img {
                    display: block;
                    position: absolute;
                }
            }

            .con {
                padding: 8px 20px 0px;
                color: darken($color, 10%);
                overflow: hidden;
                text-overflow: ellipsis;
                max-height:46px;

                .content-wrapper{
                    line-height:19px;

                    p{
                        margin:0px;
                    }
                }
            }

            .hi{
            }

            .open{
                padding: 8px 20px 8px;
                text-align: right;
                color:#bc0a0c;

                span:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
