doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

        title 粉丝中心
        link(rel="stylesheet", href="/fans/css/index.css")
        script(type="text/javascript", src="/fans/components/wechat-share/browser.js")
        script(type="text/javascript").
            function getTitle(){
                var title = document.getElementById('wechat-share') ? "加多宝中国好声音正宗V海报" : "正宗凉茶的无限可能";
                return title;       
            }
            function getDesc(){
                var desc = document.getElementById('wechat-share') ? "跟你分享我珍藏的加多宝中国好声音人气学员海报，一般人我不给他看的~" : "夏天有三宝，V罐、好声音、加多宝";
                return desc;       
            }
            wechatshare(
                function fn(){
                    var data = {
                        link: "http://wx.jdb.cn/",
                        desc: getDesc(),
                        title: getTitle(),
                        img_url: 'http://wx.jdb.cn/static/img/share.jpg'
                    }
                    return data;
                }
            );

    body
        div.content

        
        script(type="text/javascript").
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F92c41c8d1aeee7457c78ac334ced13fe' type='text/javascript'%3E%3C/script%3E"));

        script(type="text/javascript", src="/fans/build/index.js")
