doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

        title 粉丝中心
        link(rel="stylesheet", href="/fans/css/index.css")
        script(type="text/javascript", src="/fans/components/wechat-share/browser.js")
        script(src="//console.re/connector.js", data-channel="cvfans", id="consolerescript")


    body
        div.content

        
        script(type="text/javascript").
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F92c41c8d1aeee7457c78ac334ced13fe' type='text/javascript'%3E%3C/script%3E"));

        script(type="text/javascript", src="/fans/build/index.js")
