doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")

        title 资讯中心
        link(rel="stylesheet", href="/news/css/news.css")
        script(type="text/javascript", src="/news/components/wechat-share/browser.js")
        script(type="text/javascript").
            wechatshare(function fn(){
                return window.onwechatshare ? window.onwechatshare() : {};
            });

    body
        div.content

        
        script(type="text/javascript").
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F92c41c8d1aeee7457c78ac334ced13fe' type='text/javascript'%3E%3C/script%3E"));

        script(type="text/javascript", src="/news/build/news.js")
